.venv
.env
.vscode
.DS_Store
mlruns/
.python-version
ml_analytics_tools.egg-info
__pycache__/
tests/interactive.py
.idea
*.json
!release-please-config.json
!.release-please-manifest.json
*.png
/tasks
docs/superpowers